.info-wrap h3 {
    color: #000;
    position: relative;
}

.info-wrap h3:after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100px;
    height: 3px;
    background: #d62196;
    content: '';
}

.info-wrap .dbox {
    width: 100%;
    margin-bottom: 25px;
}

.info-wrap .dbox:last-child {
    margin-bottom: 0;
}

.info-wrap .dbox p {
    margin-bottom: 0;
}

.info-wrap .dbox p span {
    font-weight: 400;
    color: #000;
}

.info-wrap .dbox p a {
    color: rgba(0, 0, 0, 0.3);
}

.info-wrap .dbox .icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.05);
}

.info-wrap .dbox .icon span {
    font-size: 20px;
    color: #000;
}

.info-wrap .dbox .text {
    width: calc(100% - 50px);
}

.p-lg-5 {
    padding: 3rem !important;
}

.p-4 {
    padding: 1.5rem !important;
}

img {
    page-break-inside: avoid;
}

.mb-4 {
    margin-bottom: 1.5rem !important;
    font-size: medium;
}

.info-wrap .dbox {
    width: 100%;
    margin-bottom: 25px;
}

.info-wrap .dbox:last-child {
    margin-bottom: 0;
}

.info-wrap .dbox p {
    margin-bottom: 0;
    font-size: medium;
}

.info-wrap .dbox p span {
    font-weight: 400;
    color: #000;
}

.info-wrap .dbox p a {
    color: blue; /* Default link color */
    text-decoration: underline; /* Makes it look like a link */
    cursor: pointer; /* Changes cursor to pointer to indicate it's clickable */
  
    font-size: medium;
}
.info-wrap .dbox p a:active {
    color: purple;
}

.info-wrap .dbox .icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.05);
}

.info-wrap .dbox .icon span {
    font-size: 20px;
    color: #000;
}

.info-wrap .dbox .text {
    width: calc(100% - 50px);
}


.d-flex {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
}

.align-items-start {
    -webkit-box-align: start !important;
    -ms-flex-align: start !important;
    align-items: flex-start !important;
}

.info-wrap .dbox .icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.05);
}

.info-wrap .dbox .icon span {
    font-size: 20px;
    color: #000;
}

.info-wrap .dbox .text {
    width: calc(100% - 50px);
}

.align-items-center {
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
}

.justify-content-center {
    -webkit-box-pack: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important;
}

.pl-3 {
    padding-left: 1rem !important;
}

.info-wrap.p-lg-5.p-4.img {
    border-top: 2px solid rgb(232 235 235);
    border-right: 2px solid rgb(232 235 235);
    background: aliceblue;
    width: fit-content;
}

.info-wrap-container {
    position: relative;
  }
  
  .background-container {
    position: absolute;
    width: 100%; /* Adjust based on your needs */
    height: 100%; /* Adjust based on your needs */
    background-color: aliceblue;
    z-index: -1; /* Ensures it stays behind the info-wrap */
  }
  
  .bg1 {
    top: -10px;
    right: -10px; /* Adjust for desired effect */
  }
  
  .bg2 {
    top: -20px;
    right: -20px; /* Adjust for desired effect */
  }
  
  .info-wrap {
    position: relative;
    z-index: 1; /* Ensures it's above the background containers */
  }