.coloured-faded-text {
    /* Apply the same linear gradient */
    background: linear-gradient(to right, #9ca5ff 0%, #64cf94 100%);
    /* Use the background as the text color */
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

#about {
    padding: 200px 0;
}

#about h3 {
    font-size: 22px;
    margin: 0 0 20px 0;
}

#about h2 {
    width: max-content;
    position: relative;
    margin-bottom: 15px;
    padding-bottom: 15px;
}

#about h2::after {
    position: absolute;
    content: "";
    background: linear-gradient(to right, #5ca9fb 0%, #6372ff 100%);
    height: 4px;
    width: 60px;
    bottom: 0;
    left: 0;
}

#about .about-text li {
    margin-bottom: 6px;
    margin-left: 6px;
    list-style: none;
    padding: 0;
    color: rgb(0, 0, 0);
}

#about .about-text li {
    list-style-type: disc;
    /* This will create a bullet */

}

#about .container {
    margin: 0px 150px;
}

#intro-paragraph {
    width: 925px;
    height: 220px;
    margin: 200px 0px;
}

.intro-profile-pic {
    margin-right: 20px;
    margin-top: 30px;
    align-items: center;
    justify-content: center;
}

#about .about-text li:before {
    /* Remove or comment out this block if not needed */
}

#carousel img {
    width: 400px;
    background: #dfdfdf;
    border-right: 0;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.06);
    border-radius: 15px;
}

#about p {
    line-height: 24px;
    margin: 30px 0;
}

.intro-profile-pic {
    width: 100%;
}

#memiamatia {
    width: 100%;
}


@media (max-width: 1090px) {
    #menu a.navbar-brand {
        font-size: 20px;
    }

    #menu.navbar-default .navbar-nav>li>a {
        font-size: 12px;
    }

    #header,
    .intro_index,
    .intro {
        background-position: center top;
    }

    .flex-container {
        flex-direction: column;
        align-items: center;
    }

    #profile-pic,
    #services-pic {
        width: 300px;
        height: 200px;
    }

    h1 {
        font-size: 36px;
    }

    h2 {
        font-size: 24px;
    }

    p,
    a {
        font-size: 10px;
    }

    #menu a.navbar-brand {
        font-size: 18px;
    }

    #menu.navbar-default .navbar-nav>li>a {
        font-size: 12px;
        margin: 5px 12px;
    }

    #service-row1 {
        /* width: 100%; */
        display: grid;
    }

    #services-container>*:first-child {
        /* margin-left: 0px; */

        .row {
            margin-right: 0px;
            margin-left: 0px;
        }
    }

    #intro-paragraph {
        width: 100%;
        margin: 0px;
        height: fit-content
    }

    #about {
        padding: 100px 0px;
    }

    #about .container {
        margin: 0px;

    }

    #intro-container {
        height: 100%;
    }

    .intro-profile-pic {
        margin-right: 20px;
        width: 400px;
        height: 300px;
    }

    #intro-container {
        margin-top: 150px;
        /* height: 100%; */
    }

    #about-container {
        display: block;
    }

    #services .col-xs-12.col-md-6 {
        width: 100%;
    }

    #service-row1 {
        height: 100%;
    }

    #resume-section {
        /* margin: 50px; */
        position: relative;
        height: fit-content;
        background: rgb(0, 0, 0, 0.3);
    }

    #resume p {
        font-size: large;
    }

    #contact iframe {
        height: 300px;
        width: inherit;
        margin-bottom: 60px;
    }

    .carousel {
        margin: auto;
    }
}

@media (max-width: 768px) {
    #menu a.navbar-brand {
        font-size: 20px;
    }

    #menu.navbar-default .navbar-nav>li>a {
        border: 3px solid black;
        background: cadetblue;
        font-size: 12px;
        /* border-image: linear-gradient(to right, black, transparent) 1 100%; */
    }

    #header,
    .intro_index,
    .intro {
        background-position: center top;
    }

    .flex-container {
        flex-direction: column;
        align-items: center;
    }

    #profile-pic,
    #services-pic {
        width: 300px;
        height: 200px;
    }

    h1 {
        font-size: 24px;
    }

    h2 {
        font-size: 22px;
    }

    p,
    a {
        font-size: 8px;
    }

    #menu a.navbar-brand {
        font-size: 16px;
    }

    #menu.navbar-default .navbar-nav>li>a {
        font-size: 15px;
        margin: 5px 10px;
    }

    .navbar-header {
        background: cadetblue;
        border: 3px solid black;
    }

    #service-row1 {
        /* width: 100%; */
        display: grid;
    }

    #services-container>*:first-child {
        /* margin-left: 0px; */

        .row {
            margin-right: 0px;
            margin-left: 0px;
        }
    }

    #intro-paragraph {
        width: 100%;
        margin: 0px;
        height: fit-content
    }

    #about {
        padding: 100px 0px;
    }

    #about .container {
        margin: 0px;

    }

    #intro-container {
        height: 100%;
    }

    .intro-profile-pic {
        width: 400px;
        height: 300px;
    }

    #intro-container {
        margin-top: 150px;
        /* height: 100%; */
    }

    #about-container {
        display: block;
    }

    #services .col-xs-12.col-md-6 {
        width: 100%;
    }

    #services {
        /* width: 100vh; */
        /* height: 1000px; */
    }

    #service-row1 {
        height: 100%;
    }

    #resume-section {
        /* margin: 50px; */
        position: relative;
        height: fit-content;
        background: rgb(0, 0, 0, 0.3);
    }

    #resume p {
        font-size: large;
    }

    #contact iframe {
        height: 300px;
        width: inherit;
        margin-bottom: 60px;
    }

    .carousel {
        margin: auto;
    }
}

@media (max-width: 400px) {

    html {
        width: 100vh;
    }

    #header {
        width: 100vh;
    }

    #menu a.navbar-brand {
        font-size: 25px;
    }

    .navbar-header {
        padding: 15px;
    }

    #menu.navbar-default .navbar-nav>li>a {
        /* font-size: 16px; */
    }

    #header,
    .intro_index,
    .intro {
        /* width: 100vh; */
        background-position: center top;
    }

    .flex-container {
        flex-direction: column;
        align-items: center;
    }

    #profile-pic,
    #services-pic {
        width: 375px;
        height: 250px;
    }

    li {
        font-size: 25px;
    }

    h1 {
        font-size: 90px;
    }

    h2 {
        font-size: 29px;
    }

    p,
    a {
        font-size: 10px;
    }

    #menu a.navbar-brand {
        font-size: 30px;
    }

    #menu.navbar-default .navbar-nav>li>a {
        font-size: 26px;
        padding: 15px;
        margin: 5px 10px;
    }

    #service-row1 {
        /* width: 100%; */
        display: grid;
    }

    #services-container>*:first-child {
        /* margin-left: 0px; */

        .row {
            margin-right: 0px;
            margin-left: 0px;
        }
    }

    #intro-paragraph {
        width: 100%;
        margin: 0px;
        height: fit-content
    }

    #about {
        width: 100vh;
        padding: 100px 0px;
    }

    #about .container {
        margin: 0px;

    }

    #intro-container {
        height: 100%;
    }

    .intro-profile-pic {
        width: 400px;
        height: 300px;
    }

    #intro-container {
        margin-top: 150px;
        /* height: 100%; */
    }

    #about-container {
        display: block;
    }

    #services .col-xs-12.col-md-6 {
        width: 100%;
    }

    #services {
        width: 100vh;
        height: 1500px;
    }

    #service-row1 {
        height: 100%;
    }

    #resume-section {
        padding: 20px;
        width: 100vh;
        margin: 50px 0px;
        position: relative;
        height: fit-content;
        background: rgb(0, 0, 0, 0.3);
    }

    #resume p {
        font-size: 30px;
        line-height: 1.2;
    }

    #contact iframe {
        height: 500px;
        width: inherit;
        margin-bottom: 60px;
    }

    .carousel {
        margin: auto;
    }

    #contact {
        width: 100vh;
    }

    #contact .info-wrap h3 {
        font-size: 35px;
    }

    #contact .mb-4 {
        font-size: 25px;
    }

    #contact .info-wrap p a {
        font-size: 25px;
    }

    #contact .info-wrap .dbox p span {
        font-size: 25px;
    }

    #contact .info-wrap .dbox p {
        font-size: 25px;
    }

    #footer p,
    a {
        font-size: 20px;
    }
}

/* Other Styles Remain Unchanged */

/* Continue with other specific styles and components */

.col-lg-6 {
    width: 50%;
}

.col-sm-6 {
    width: 50%;
}

.col-xs-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;

}