@font-face {
	font-family: 'Nvm';
	src: url('../fonts/Nvm/Nvmlization-rg.otf') format('opentype');
}

@font-face {
	font-family: 'Nvm';
	src: url('../fonts/Nvm/LTNvm-Bold.otf') format('opentype');
}

@font-face {
	font-family: 'Nvm';
	src: url('../fonts/Nvm/Imibobo.otf') format('opentype');
}

@font-face {
	font-family: 'Nvm';
	src: url('../fonts/Nevermind/NeverMindSlab/NeverMindSlab-DemiBold.ttf') format('opentype');
}

/* Index */
.index h1,
.index h2,
.index h3,
.index h4,
.index h5 {
	color: #636363;
	/* white color */
}

.index h1 {
	font-size: 50px;
}

.index #menu.navbar-default {
	background-color: #636363;
	/* white color */
}

.index #menu a.navbar-brand {
	color: #636363;
	/* white color */
}

.index #menu.navbar-default .navbar-nav>li>a {
	color: #636363;
	/* white color */
}

.index .intro-text ul li {
	list-style-type: disc;
}

.intro-text {
	margin: 0px 20px;
}

.index .intro-text,
.index .intro-text * {
	color: #636363;
}

.index,
.index * {
	color: #636363;
	font-size: 17.5px;
}

#parentContainer {
	border: 1px solid #bba8a8;
	display: flex;
	border-radius: 70px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
	background: rgba(233, 233, 233, 0.55) !important;
}

#businessDictionary {
	padding: 10px;
	width: 200px;
	column-count: 2;
}

#searchBarContainer {
	padding: 10px;
	flex-grow: 1;
	display: block;
	flex-direction: column;
	align-items: center;
}

#titleSearchBarContainer {
	display: flex;
	justify-content: center;
	width: 100%;
}

.intro_index {
	background: url(../img/whiteroom.jpg) center center no-repeat;
	background-color: #dfdfdf;
}

#spacer {
	width: 30px;
}

#line {
	width: 100%;
	align-self: center;
	background: linear-gradient(to right, #6372ff 0%, #5ca9fb 100%);
}

.letterAlphIndex {
	position: relative;
}

.businessAlphIndex {
	position: relative;
}

.letterAlphIndex::after {
	content: "";
	position: absolute;
	bottom: -4px;
	left: 0;
	width: 0;
	height: 2px;
	background: linear-gradient(to right, #6372ff 0%, #5ca9fb 100%);
	transition: width 0.2s;
}

.businessAlphIndex::after {
	content: "";
	position: absolute;
	bottom: -4px;
	left: 0;
	width: 0;
	height: 2px;
	background: linear-gradient(to right, #6372ff 0%, #5ca9fb 100%);
	transition: width 0.2s;
}

.letterAlphIndex:hover::after {
	width: 70%;
	left: calc((100% - 70%) / 2);
}

.businessAlphIndex:hover::after {
	width: 100%;
}

.letterAlphIndex:active {
	background: linear-gradient(to right, #6372ff 0%, #5ca9fb 100%);
}

.businessAlphIndex:active {
	background: linear-gradient(to right, #6372ff 0%, #5ca9fb 100%);
}

/*     */

/*Flames*/
/*---------------------------------------------------------------------
                        Mouse cursor
-----------------------------------------------------------------------*/
.theBall,
.theBall-outer {
	width: 20px;
	height: 20px;
}

.theBall-outer {
	position: fixed;
	top: -20px;
	left: -20px;
	z-index: 9999999999999999999;
	pointer-events: none !important;
}

.theBall {
	position: absolute;
	background-color: rgba(255, 114, 114, 0.8);
	border-radius: 50%;
	-webkit-transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
	-moz-transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
	-ms-transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
	-o-transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
	transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
	transform-origin: center center;
}

.zooming.theBall {
	background-color: #ff7272;
	-webkit-transform: scale(2);
	-moz-transform: scale(2);
	-ms-transform: scale(2);
	-o-transform: scale(2);
	transform: scale(2);
}

/*---------------------------------------------------------------------
                        Mouse Effect
-----------------------------------------------------------------------*/
.mouse-move {
	position: absolute;
	bottom: -130px;
	left: 50%;
	width: 65px;
	margin-left: -50px;
}

.mouse-move a {
	letter-spacing: 2px;
	font-size: 12px;
	text-transform: uppercase;
	height: 65px;
	width: 65px;
	line-height: 65px;
	display: inline-block;
	border-radius: 900px;
	text-align: center;
}

.mouse-move .boom::before,
.mouse-move .boom::after {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.mouse-move .boom::before,
.mouse-move .boom::after {
	content: "";
	z-index: -1;
	margin: 0;
	border-radius: 900px;
	box-shadow: inset 0 0 0 2px;
	animation: clipMe 8s linear infinite;
}

.mouse-move .boom::before {
	animation-delay: -4s;
}

@keyframes clipMe {

	0%,
	100% {
		clip: rect(0px, 220px, 2px, 0px);
	}

	25% {
		clip: rect(0px, 2px, 220px, 0px);
	}

	50% {
		clip: rect(218px, 220px, 220px, 0px);
	}

	75% {
		clip: rect(0px, 220px, 220px, 218px);
	}
}

.banner_canvas {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
}

/*     */

body,
html {
	font-family: 'Nvm', fallback;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	color: #777;
	font-weight: 400;
	width: 100%;
	height: 100%;
}

h1,
h2,
h3,
h4 {
	font-family: 'Nvm', fallback;
}

h1 {
	text-shadow: 6px 6px 7px #000000;
	text-transform: uppercase;
	margin: 0 0 20px 0;
	color: #dfdfdf;
}

h2 {
	text-transform: uppercase;
	margin: 0 0 20px 0;
	font-size: 36px;
	color: #dfdfdf;
}

h3 {
	font-size: 20px;
	color: #dfdfdf;
}

h4 {
	font-size: 18px;
	color: #dfdfdf;
}

h5 {
	text-transform: uppercase;
	line-height: 20px;
}

p {
	font-size: 15px;
}

a {
	color: #608dfd;
	font-weight: 400;
}

a:hover,
a:focus {
	text-decoration: none;
	color: #608dfd;
}

ul,
ol {
	padding: 0;

}

hr {
	height: 2px;
	width: 70px;
	text-align: center;
	position: relative;
	margin-bottom: 0px;
	border: 0;
}

#alphindextitle {
	margin-right: 0px;
	margin-bottom: 0px;
	font-size: x-large;
}

/* Navigation */
#menu {
	padding: 0px;
	transition: all 0.8s;
	background: rgb(241 241 241 / 28%);
}

.container {
	width: -webkit-fill-available;
	/* padding: 30px; */
	z-index: 2;
	position: relative;
}

#menu.navbar-default {
	padding: 30px;
	/* background-color: #dfdfdf; */
	border-color: rgba(231, 231, 231, 0);
	box-shadow: 0 0 10px rgb(0 0 0 / 95%);
}

#menu a.navbar-brand {
	font-family: 'Nvm', fallback;
	font-size: 24px;
	font-weight: 700;
	color: #000000;
	text-transform: uppercase;
	text-shadow: darkblue;
}

#menu.navbar-default .navbar-nav>li>a {
	font-family: 'Nvm', fallback;
	text-transform: uppercase;
	color: #000000;
	font-size: 15px;
	font-weight: 400;
	padding: 8px 2px;
	border-radius: 0;
	margin: 9px 20px 0 20px;
}

#menu.navbar-default .navbar-nav>li>a:after {
	display: block;
	position: absolute;
	left: 0;
	bottom: -1px;
	width: 0;
	height: 2px;
	/* background: linear-gradient(to right, #6372ff 0%, #5ca9fb 100%); */
	content: "";
	transition: width 0.2s;
}

#menu.navbar-default .navbar-nav>li>a:hover:after {
	width: 100%;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
	background-color: transparent;
}

.navbar-default .navbar-nav>.active>a:after,
.navbar-default .navbar-nav>.active>a:hover:after,
.navbar-default .navbar-nav>.active>a:focus:after {
	display: block !important;
	position: absolute !important;
	left: 0 !important;
	bottom: -1px !important;
	width: 100% !important;
	height: 2px !important;
	background: linear-gradient(to right, #000000 0%, #00ffea 100%) !important;
	content: "" !important;
	transition: width 0.2s !important;
}

.navbar-toggle {
	border-radius: 0;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
	background-color: #dfdfdf;
	border-color: #608dfd;
}

.navbar-default .navbar-toggle:hover>.icon-bar {
	background-color: #608dfd;
}

.section-title {
	margin-bottom: 70px;
}

.section-title h2 {
	position: relative;
	margin-top: 10px;
	margin-bottom: 15px;
	padding-bottom: 15px;
}

.section-title h2::after {
	position: absolute;
	content: "";
	background: linear-gradient(to right, #5ca9fb 0%, #6372ff 100%);
	height: 4px;
	width: 60px;
	bottom: 0;
	margin-left: -30px;
	left: 50%;
}

.section-title p {
	font-size: 18px;
}

.btn-custom {
	font-family: 'Nvm', fallback;
	text-transform: uppercase;
	color: #dfdfdf;
	background-color: #5ca9fb;
	background-image: linear-gradient(to right, #5ca9fb 0%, #6372ff 100%);
	padding: 14px 34px;
	letter-spacing: 1px;
	margin: 0;
	font-size: 15px;
	font-weight: 500;
	border-radius: 25px;
	transition: all 0.5s linear;
	border: 0;
}

.btn-custom:hover,
.btn-custom:focus,
.btn-custom.focus,
.btn-custom:active,
.btn-custom.active {
	color: #dfdfdf;
	background-image: none;
	background-color: #6372ff;
}

.btn:active,
.btn.active {
	background-image: none;
	outline: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}

a:focus,
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
	outline: none;
	outline-offset: none;
}

/* Header Section */
#header {
    position: relative; /* Add this line */
    background: transparent;
    height: fit-content;
}

#header-title {
	justify-content: flex-start;
	align-items: center;
	height: -webkit-fill-available;
	font-size: 50px;
	color: #dfdfdf;
	font-weight: 700;
	text-transform: uppercase;
	margin-top: 111;
	margin-bottom: 50px;
	width:60%;
}

#header-paragraph {
	font-size: 20px;
	color: #dfdfdf;
	font-weight: 300;
	line-height: 30px;
	margin: 30px 0 40px 0;

}

.header-shadow {
	background: rgb(0 0 0 / .2);
    position: absolute;
    top: 0;
    left: 0;
    width: 60%;
    height: 100%;
    z-index: 2; /* Ensure it's above .wrapper */
    /* Add any additional styling here */
}

.header-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3; /* Ensure it's above .wrapper */
    /* Add any additional styling here */
}

#header-title-inside {
    margin: 0px 40px;
    width: fit-content;
}
.intro_index {
	display: table;
	width: 100%;
	padding: 0;
	background-position: center +70%;
	/* Adjust this value to position the image */
	background-color: #dfdfdf;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}

.intro {

	-o-background-size: cover;
}

#intro-container {
	justify-content: center;
	margin: 0px;
	width: -webkit-fill-available;
}

.intro .overlay {
	height: fit-content;
	justify-content: center;
	align-items: center;
	background: rgba(0, 0, 0, 0.2);
	display: flex;
}

.overlay>*:first-child {
	margin-right: 200px;
	/* Adds space to the right of the first child, effectively moving the content slightly to the right */
}

.intro h1 {
	font-family: 'Nvm', fallback;
	color: #dfdfdf;
	font-weight: 700;
	text-transform: uppercase;
	margin-top: 0;
	margin-bottom: 50px;
}

.intro h1 span {
	font-weight: 800;
	color: #5ca9fb;
}

.intro p {
	color: #dfdfdf;
	font-weight: 300;
	line-height: 30px;
	margin: 30px 0 40px 0;
}


#list1 {
	margin-top: 30px;
	margin-bottom: 30px;
}

.flex-container {
	display: flex;
	justify-content: space-around;
}

#profile-pic {
	width: 369.6px;
	height: 240px;
	border-radius: 3px;
	background: url(../img/photo1.jpg) center top no-repeat;
	background-size: cover;
	/* This will make the background image cover the entire div */
	border-radius: 5px;
}

li {
	color: white;
}

/* About Section */

.content-wrapper {
	margin-bottom: 20px;
	/* margin-right: 80px; */
	display: flex;
	justify-content: space-between;
	/* Optional: Adds space between the carousel and about text */
}

.carousel {
	/* align-items: center; */
	/* justify-content: center; */
	/* margin: auto; */
	height: 300px;
	/* Adjust this value as needed */
	width: 300px;
	overflow: hidden;
	/* Hide anything that goes outside the carousel */
	border-radius: 15px;
	flex: 1;
	max-width: 500px;
	/* Adjust this value as needed */
	position: relative;
	/* Add relative positioning */
}

.carousel img {
	height: auto;
	width: 100%;
	object-fit: fill;
	object-position: top left;
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	transition: opacity 1s ease-in-out, transform 1s ease-in-out;
	transform: translateX(100%) scale(0.5);
}

.coloured-faded-text {
	/* Apply the same linear gradient */
	background: linear-gradient(to right, #9ca5ff 0%, #64cf94 100%);
	/* Use the background as the text color */
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}

#about h3 {
	font-size: 22px;
	margin: 0 0 20px 0;
}

#about h2 {
	width: max-content;
	position: relative;
	margin-bottom: 15px;
	padding-bottom: 15px;
}

#about h2::after {
	position: absolute;
	content: "";
	background: linear-gradient(to right, #5ca9fb 0%, #6372ff 100%);
	height: 4px;
	width: 60px;
	bottom: 0;
	left: 0;
}

#about .about-text li {
	margin-bottom: 6px;
	margin-left: 6px;
	list-style: none;
	padding: 0;
	color: rgb(0 0 0);
}

#about .about-text li {
	list-style-type: disc;
	/* This will create a bullet */

}

#about .container {
	margin: 0px 150px;
}

#intro-paragraph {
	width: 925px;
	height: 220px;
	margin: 200px 0px;
}

.intro-profile-pic {
	/* margin-right: 20px; */
	/* margin-top: 30px; */
	align-items: center;
	justify-content: center;
}

#about .about-text li:before {
	/* Remove or comment out this block if not needed */
}

#carousel img {
	width: 400px;
	background: #dfdfdf;
	border-right: 0;
	box-shadow: 0 0 50px rgba(0, 0, 0, 0.06);
	border-radius: 15px;
}

#about p {
	line-height: 24px;
	margin: 30px 0;
}

#about li {
	width: max-content;
}


/* service Section */

#services {
	/* position: relative; */
	height: 800px;
	background: rgb(0, 0, 0, 0.2);
}

#service-row1 {
	align-items: center;
	display: flex;
	justify-content: center;
	width: 100%;
}


#services .col-xs-12.col-md-6 {
	width: fit-content;
}

#services-container {
	padding: 0px;
	margin: 0px;
	display: flex;
	justify-content: center;
	height: 100%;
	/* width: 100%; */
	/* margin: 0px; */
}

#services-container>*:first-child {
	/* margin-left: 20px; */
	/* Adds space to the right of the first child, effectively moving the content slightly to the right */
}

#services-second-ul {
	margin-top: -60px;
}

#services li {
	width: max-content;
}

#services-pic {
	margin-left: 80px;
	width: 286.5px;
	height: 360px;
	border-radius: 3px;
	background: url(../img/photo7.jpg) center no-repeat;
	background-size: cover;
	border-radius: 5px;
}

/* resume Section */

/* contact Section */
#contact-container {
	align-items: center;
	margin: 0px;
	display: flex;
	justify-content: center;
	height: 100%;
	/* width: 100%; */
	/* margin: 0px; */
}

#contact {
	padding: 160px 40px;
	position: relative;
	height: fit-content;
	background: rgb(0, 0, 0, 0.4);
}

#contact-info {
	align-self: center;
	margin: 0px;
}

#contact .flex-container {
	height: 100%;
}

/* Footer Section*/
#footer {
	background: #dfdfdf;
	padding: 10px 0;
}

#footer p {
	color: #888;
	font-size: 14px;
}

#footer a {
	color: #608dfd;
}

#footer a:hover {
	border-bottom: 2px solid #608dfd;
}

.iFrame1 {
    border: 0px;
}

@media (max-width: 1090px) {
	#menu a.navbar-brand {
		font-size: 20px;
	}

	#menu.navbar-default .navbar-nav>li>a {
		font-size: 12px;
	}

	#header,
	.intro_index,
	.intro {
		background-position: center top;
	}

	.flex-container {
		flex-direction: column;
		align-items: center;
	}

	#header-title {
		width:60%;
		justify-content:center;
	}

	#profile-pic,
	#services-pic {
		width: 300px;
		height: 200px;
	}
	h1 {
		font-size: 36px;
	}

	h2 {
		font-size: 24px;
	}

	p,
	a {
		font-size: 10px;
	}

	#menu a.navbar-brand {
		font-size: 18px;
	}

	#menu.navbar-default .navbar-nav>li>a {
		font-size: 12px;
		margin: 5px 12px;
	}

	#service-row1 {
		/* width: 100%; */
		display: grid;
	}

	#services-container>*:first-child {
		/* margin-left: 0px; */

		.row {
			margin-right: 0px;
			margin-left: 0px;
		}
	}

	#intro-paragraph {
		width: 100%;
		margin: 0px;
		height: fit-content
	}

	#about {
		padding: 100px 0px;
	}

	#about .container {
		margin: 0px;

	}

	#intro-container {
		height: 100%;
	}

	.intro-profile-pic {
		/* margin-right: 20px; */
		width: 400px;
		height: 300px;
	}

	#intro-container {
		margin-top: 150px;
		/* height: 100%; */
	}

	#about-container {
		display: block;
	}

	#services .col-xs-12.col-md-6 {
		width: 100%;
	}

	#services {
		height: 1100px;
	}

	#service-row1 {
		height: 100%;
	}

	#contact iframe {
		height: 300px;
		width: inherit;
		margin-bottom: 60px;
	}

	.carousel {
		margin:auto;
	}
}

@media (max-width: 708px) {
	#menu a.navbar-brand {
		font-size: 20px;
	}



	#header,
	.intro_index,
	.intro {
		background-position: center top;
	}

	.flex-container {
		flex-direction: column;
		align-items: center;
	}

	#profile-pic,
	#services-pic {
		width: 300px;
		height: 200px;
	}
	h1 {
		font-size: 30px;
	}

	h2 {
		font-size: 22px;
	}

	p,
	a {
		font-size: 8px;
	}

	#menu a.navbar-brand {
		font-size: 20px;
		height: 100%;
		width: min-content;
	}

	#menu.navbar-default .navbar-nav>li>a {
		font-size: 15px;
		margin: 5px 10px;
	}

	.navbar-header {
	    background: transparent;
	    /* border: 20px solid transparent; */
	    /* border-image: linear-gradient(to right, white, transparent) 1; */
	}

	#service-row1 {
		/* width: 100%; */
		display: grid;
	}

	#services-container>*:first-child {
		/* margin-left: 0px; */

		.row {
			margin-right: 0px;
			margin-left: 0px;
		}
	}

	#intro-paragraph {
		width: 100%;
		margin: 0px;
		height: fit-content
	}

	#about {
		padding: 100px 0px;
	}

	#about .container {
		margin: 0px;

	}

	#intro-container {
		height: 100%;
	}

	.intro-profile-pic {
		width: 400px;
		height: 300px;
	}

	#intro-container {
		margin-top: 150px;
		/* height: 100%; */
	}

	#about-container {
		display: block;
	}

	#services .col-xs-12.col-md-6 {
		width: 100%;
	}

	#services {
		/* width: 100vh; */
		/* height: 1000px; */
	}

	#service-row1 {
		height: 100%;
	}

	#contact iframe {
		height: 300px;
		width: inherit;
		margin-bottom: 60px;
	}

	.carousel {
		margin:auto;
	}
}

@media (max-width: 500px) {
	h1 {
		font-size:23px;
	}
}

@media (max-width: 400px) {

	html {
		width:100vh;
	}
	
	#header {
		width:100vh;
	}
	
	#menu a.navbar-brand {
		font-size: 25px;
	}

	.navbar-header {
		padding:15px;
	}

	#menu.navbar-default .navbar-nav>li>a {
		/* font-size: 16px; */
	}

	#header,
	.intro_index,
	.intro {
		/* width: 100vh; */
		background-position: center top;
	}

	.flex-container {
		flex-direction: column;
		align-items: center;
	}

	#profile-pic,
	#services-pic {
		width: 375px;
		height: 250px;
	}

	li {
		font-size: 25px;
	}

	h1 {
		font-size: 30px;
	}

	h2 {
		font-size: 29px;
	}

	p,
	a {
		font-size: 10px;
	}

	#menu a.navbar-brand {
		font-size: 30px;
		line-height: normal;
	}

	#menu.navbar-default .navbar-nav>li>a {
		font-size: 26px;
		padding: 15px;
		margin: 5px 10px;
	}

	#service-row1 {
		/* width: 100%; */
		display: grid;
	}

	#services-container>*:first-child {
		/* margin-left: 0px; */

		.row {
			margin-right: 0px;
			margin-left: 0px;
		}
	}

	#intro-paragraph {
		width: 100%;
		margin: 0px;
		height: fit-content
	}

	#about {
		width:100vh;
		padding: 100px 0px;
	}

	#about .container {
		margin: 0px;

	}

	#intro-container {
		height: 100%;
	}

	.intro-profile-pic {
		width: 400px;
		height: 300px;
	}

	#intro-container {
		margin-top: 150px;
		/* height: 100%; */
	}

	#about-container {
		display: block;
	}

	#services .col-xs-12.col-md-6 {
		width: 100%;
	}

	#services {
		width: 100vh;
		height: 1500px;
	}

	#service-row1 {
		height: 100%;
	}

	#contact iframe {
		height: 500px;
		width: inherit;
		margin-bottom: 60px;
	}

	.carousel {
		margin:auto;
	}

	#contact {
	width:100vh;
	}

	#contact .info-wrap h3{
	font-size:35px;
	}

	#contact .mb-4{
	font-size:25px;
	}

	#contact .info-wrap p a{
	font-size:25px;
	}

	#contact .info-wrap .dbox p span {
		font-size:25px;
	}

	#contact .info-wrap .dbox p {
    font-size: 25px;
	}

	#footer p,a{
		font-size:20px;
	}
}

/* Other Styles Remain Unchanged */
